.Add__container{
    background-color: #020f38;   
    color: white;
    padding: 4%;
    display: flex;
    flex-direction: column;
    height: calc( 100vh - calc(8/100*480px));
}

.Add__header{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Add__body{
    flex: 8;
    display: flex;
    flex-direction: column;
}

.Add__selecttime{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0;
}

.Add__selecttime__time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Add__selecttime__title{
    font-weight: 600;
    /* margin-bottom: 6%; */
}

@media only screen and (min-width: 480px) {
    body {
      background-color: lightblue;
    }
    .Add__selecttime__icon__1,
    .Add__selecttime__icon__2,
    .Add__selecttime__icon__3,
    .Add__selecttime__icon__4{
        position: relative;
        width: 100%;
        border-radius: 50%;
        background-color: #111d42;

        --height: calc(calc(8 / 100 * 480px)) !important;
        --height2: calc(100vw - calc(100vw - 480px) - var(--height)) !important;
        --height3: calc(81 / 100 * var(--height2));
        height: calc(var(--height2) - var(--height3));
    }
}

.Add__selecttime__icon__box__1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 19%;
    animation: moveselectime 0.6s ease;
}

.Add__selecttime__icon__box__2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 19%;
    animation: moveselectime 0.8s ease;
}

.Add__selecttime__icon__box__3{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 19%;
    animation: moveselectime 1s ease;
}

.Add__selecttime__icon__box__4{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 19%;
    animation: moveselectime 1.2s ease;
}

@keyframes moveselectime {
    from {transform: translateX(480px);}
    to {transform: translateX(0px);}
}

.Add__selecttime__icon__1{
    position: relative;
    width: 100%;
    background-color: #111d42;
    border-radius: 50%;

    --height: calc(calc(8/100*100vw));
    --height2: calc(100vw - var(--height));
    --height3: calc(81 / 100 * var(--height2));
    height: calc(var(--height2) - var(--height3));
}


.Add__selecttime__icon__1::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #223369;

    top: 0;
    right: 0;
    
    border-top-right-radius: 100%;
}

.Add__selecttime__icon__1__active::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #ff90a1;

    top: 0;
    right: 0;
    
    border-top-right-radius: 100%;
}

.Add__selecttime__icon__2{
    position: relative;
    width: 100%;
    background-color: #111d42;
    border-radius: 50%;

    --height: calc(calc(8/100*100vw));
    --height2: calc(100vw - var(--height));
    --height3: calc(81 / 100 * var(--height2));
    height: calc(var(--height2) - var(--height3));
}

.Add__selecttime__icon__2::before{
    content: '';
    position: absolute;

    width: 50%;
    height: 51%;
    background-color: #223369;

    top: 0;
    right: 0;
    
    border-top-right-radius: 100%;
}

.Add__selecttime__icon__2::after{
    content: '';
    position: absolute;

    width: 50%;
    height: 51%;
    background-color: #223369;

    bottom: 0;
    right: 0;

    border-bottom-right-radius: 100%;
}

.Add__selecttime__icon__2__active::before{
    content: '';
    position: absolute;

    width: 50%;
    height: 51%;
    background-color: #ff90a1;

    top: 0;
    right: 0;
    
    border-top-right-radius: 100%;
}

.Add__selecttime__icon__2__active::after{
    content: '';
    position: absolute;

    width: 50%;
    height: 51%;
    background-color: #ff90a1;

    bottom: 0;
    right: 0;

    border-bottom-right-radius: 100%;
}

.Add__selecttime__icon__3{
    position: relative;
    width: 100%;
    background-color: #223369;
    border-radius: 50%;

    --height: calc(calc(8/100*100vw));
    --height2: calc(100vw - var(--height));
    --height3: calc(81 / 100 * var(--height2));
    height: calc(var(--height2) - var(--height3));
}

.Add__selecttime__icon__3::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #111d42;

    top: 0;
    
    border-top-left-radius: 100%;
}

.Add__selecttime__icon__3__active{
    background-color: #ff90a1;
}

.Add__selecttime__icon__4{
    position: relative;
    width: 100%;
    background-color: #223369;
    border-radius: 50%;

    --height: calc(calc(8/100*100vw));
    --height2: calc(100vw - var(--height));
    --height3: calc(81 / 100 * var(--height2));
    height: calc(var(--height2) - var(--height3));
}

.Add__selecttime__icon__4__active{
    background-color: #ff90a1;
}

.Add__selecttime__decription{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.Add__namework{
    flex: 0.7;
}

.Add__namework__title{
    font-weight: 600;
    margin-bottom: 6%;
}

.Add__namework__workbox__1,
.Add__namework__workbox__2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6%;
}

.Add__namework__workbox__workout{
    background-color: #363d5a;
    width: 40%;
    padding: 2% 0;
    border-radius: 10px;
    text-align: center;
    animation: moveselectime 0.6s ease;
}

.Add__namework__workbox__animation{
    background-color: #363d5a;
    width: 54%;
    padding: 2% 0;
    border-radius: 10px;
    text-align: center;
    animation: moveselectime 0.6s ease-in-out;
}

.Add__namework__workbox__design{
    width: 29%;
    background-color: #363d5a;
    padding: 2% 0;
    border-radius: 10px;
    text-align: center;
    animation: moveselectime 0.6s ease;
}

.Add__namework__workbox__egg{
    width: 29%;
    background-color: #363d5a;
    padding: 2% 0;
    border-radius: 10px;
    text-align: center;
    animation: moveselectime 0.6s ease-out;
}

.Add__namework__workbox__meditation{
    width: 29%;
    background-color: #363d5a;
    padding: 2% 0;
    border-radius: 10px;
    text-align: center;
    animation: moveselectime 0.6s ease-in-out;
}

.Add__namework__workbox__active{
    background-color: #ff90a1;
}

.Add__footer{
    flex: 1;
}

.Add__button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    height: 50%;
    background-color: #ff90a1;
    border-radius: 20px;
}

.Add__icon{
    vertical-align: bottom;
}

.Add__title{
    font-size: 20px;
}