.Home__container{
    display: flex;
    flex-direction: column;

    background-color: #020f38;   
    color: white;
    padding: 4%;
    height:  calc(100% - calc(8 / 100 * 100vw));
}

p{
    margin: 0;
}

.Home__Mostuse__box{
    /* margin: 17% 0 6.8% 0; */
    flex: 41%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Homepage__icon{
    vertical-align: bottom;
}

.Homepage__title{
    font-size: 20px;
}

.Home__Mostuse__title{
    margin-bottom: 4.5%;
}

.Home__Mostuse__box__1{
    background-color: #ffeaec;
    border-radius: 5px;
    color: black;
    padding: 6.8% 4.5%;
    margin-bottom: 4.5%;
}

.Home__Mostuse__box__title{
    margin-bottom: 2.5%;
    font-weight: 700;
}

.Home__Mostuse__box__2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home__Mostuse__box__Lunch{
    width: 25%;
    background-color: #82adff;
    border-radius: 5px;
    color: black;
    padding: 6.8% 4.5%;
}

.Home__Mostuse__box__Dinner{
    width: 52%;
    background-color: #97d9b4;
    border-radius: 5px;
    color: black;
    padding: 6.8% 4.5%;
}


.Home__Other__timer{
    flex: 45%;
    padding-top: 6.8%;
}

.Home__Other__WorkList::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.Home__Other__WorkList::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.Home__Other__WorkList::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.Home__Other__WorkList::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.Home__Other__title{
    margin-bottom: 6%;
}

.Home__Other__WorkList{
    display: flex;
    flex-wrap: wrap;

    /* overflow-y: scroll; */
}

.Home__Other__WorkBox{
    width: 21%;

    border-radius: 5px;
    background-color: #363d5a;

    padding: 6% 4.5%;
    margin: 0 5% 5% 0;
}

.Home__Other__WorkBox__active{
    width: 21%;

    border-radius: 5px;
    background-color: #ff90a1;

    padding: 6% 4.5%;
    margin: 0 5% 5% 0;
}

.Home__Other__WorkBox__animation:nth-last-child(1){
    animation: movehome 0.5s;
}

@keyframes movehome {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.Home__Other__WorkList li:nth-child(3n+0) {
    /* background: red; */
    margin: 0 0 5% 0;
}

.Home__icon__box{
    flex: 14%;
    display: flex;
    justify-content: center;
}  

.Home__Other__WorkBox__title{
    margin-bottom: 10%;
}

.Home__Other__WorkBox__timeicon{
    display: flex;
    justify-content: space-between;
}

.Home__icon{
    display: inline-block;
    
    background-color: #ff90a1;
    border-radius: 50%;

    position: relative;
    /* --width: calc(100vh - calc(8/100*100vh));
    --width1: calc(0.141 * var(--width));
    width: calc(60 / 100 * var(--width1)); */
    /* --width: calc(100vh - calc(8/100*100vw) - calc(0.068 * 100vw));
    --width1: calc(0.14 * var(--width));
    width: calc(0.6 * var( --width1)); */
    --vw-p: calc(8/100*100vw);
    --width: calc(100vh - var(--vw-p) - calc(0.068 *calc(100vw - var(--vw-p))));
    --width1: calc(0.14 * var(--width));
    width: calc(0.6 * var( --width1));
    height: 60%;
}

.Home__icon::before{
    content: '';
    border-bottom: 2px solid white;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 48%;
}

.Home__icon::after {
    content: '';
    border-left: 2px solid white;
    height: 40%;
    top: 30%;
    position: absolute;
    left: 48%;
}

@media only screen and (min-width: 480px) {
    .Home__icon{
        display: inline-block;
        --width: calc(100vh - calc(8/100*480px) - calc(0.068 * 480px));
        --width1: calc(0.14 * var(--width));
        width: calc(60 / 100 * var(--width1));
        height: 60%;
        background-color: #ff90a1;
        border-radius: 50%;
    }
    
    .Home__container{
        display: flex;
        flex-direction: column;
    
        background-color: #020f38;   
        color: white;
        padding: 4%;
        height: calc( 100% - calc(8 / 100 * 480px))
    }
}