.Add__box__content{
    /* position: relative; */
    display: inline-block;

    padding: 2rem 2rem;
    background-color: #eeeeee;
    border-radius: 2rem;
    margin-bottom: 3%;
}

.Add__box__content{
    box-shadow: 0 0 20px #bdbdbd;
}

.Box__button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Button{
    text-decoration: none;
}

.Add__Title{
    font-size: 1.5rem;
    outline: none;
    margin-bottom: 1rem;
    border: none;
}

.Add__Title:focus{
    box-shadow: 0 0 10px #9e9e9e;
}

.Add__Note{
    outline: none;
    border: none;
}
.Add__Note:focus{
    
    box-shadow: 0 0 10px #9e9e9e;
}

.Reminder__box{
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
}

.css-xjimrv-Switch{
    width: 34px !important;
    height: 24px !important;
}

.css-153wf2s-Switch{
    border-radius: 10px !important;
    background-color: #9e9e9e !important;
}

.css-jfsaru-Switch{
    border-radius: 10px !important;
}

.css-1v96km2-Switch{
    right: 4px !important;
    left: 13px !important;
    top: 4px !important;
    bottom: 4px !important;
}

.css-19a995p-Switch{
    top: 4px !important;
    bottom: 4px !important;
    right: 13px !important;
    left: 4px !important;
}

.Oclock__box{
    display: flex;
    justify-content: flex-end   ;
}

.Oclock{
    border: none;
    outline: none;
}

.Oclock:focus{
    box-shadow: 0 0 10px #9e9e9e;
}